<launch>
 
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="4.0"/>
  <arg name="y_pos" default="4.5"/>
  <arg name="maze_scale" default="0.5"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="dynamic_obstacles" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="world_name" default="$(find my_maze_world)/worlds/maze22.world"/>

  <!-- Set GAZEBO_MODEL_PATH to include custom models -->
  <env name="GAZEBO_MODEL_PATH" value="$(find my_maze_world)/models:/usr/share/gazebo-11/models:$(optenv GAZEBO_MODEL_PATH /usr/share/gazebo-11/models)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="false"/>
  </include>

 
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  
  <!-- 启动动态障碍物移动节点 -->
  <node if="$(arg dynamic_obstacles)" name="dynamic_obstacles" pkg="my_maze_world" type="dynamic_obstacles.py" output="screen" respawn="false">
    <!-- 可通过参数调整更新频率与轨迹周期 -->
    <param name="rate" value="8.0"/>
    <param name="period1" value="12.0"/>
    <param name="period2" value="16.0"/>
    <param name="period3" value="20.0"/>
    <param name="maze_scale" value="$(arg maze_scale)"/>
  </node>
</launch>
